# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache

# Ignore IntelliJ files
/.idea
/*.iml

# Ignore JS dependencies managed by Bower
/bower_components
