<%# Layout for Index pages %>
<% wrap_layout :base do %>
  <section id="main-content" class="col-md-9 col-xs-12">
    <%= yield %>

    <% if ! request.path.include? 'index.html' %>
      <div class="back">
        <i class="icon-reply"></i>
        <%= link_to 'Go back', '/' %>
      </div>
    <% end %>
  </section>
<% end %>
