$copy-colour: #333;
$alt-copy-colour: #555;
$emphasis-colour: #222;
$heading-colour: #222;
$main-title-colour: black;
$main-title-highlight-colour: #444;

$highlight1: #464;
$highlight2: #061;
$highlight3: #183;
$highlight4: #cc9;

$heading-font-family: 'myriad-pro', sans-serif;
$meta-font-family: 'myriad-pro', sans-serif;
$copy-font-family: 'source-sans-pro', sans-serif;
$code-font-family: 'source-code-pro', 'monaco', 'menlo', monospace;
