/**
 * Main Stylesheet
 */

@import "compass/typography/links";
@import "compass/typography/lists";
@import "icons";

/**
 * Variables
 */

$copy-colour: #333;
$alt-copy-colour: #555;
$emphasis-colour: #222;
$heading-colour: #333;

$highlight1: #464;
$highlight2: #061;
$highlight3: #183;
$highlight4: #cc9;

$heading-font-family: 'myriad-pro', sans-serif;
$meta-font-family: 'myriad-pro', sans-serif;
$copy-font-family: 'source-sans-pro', sans-serif;
$code-font-family: 'source-code-pro', 'monaco', 'menlo', monospace;

/**
 * Mix-ins
 */

@mixin portrait {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin narrow-landscape {
  @media (max-width: 979px) and (min-width: 768px) {
    @content;
  }
}

@mixin narrow {
  @media (max-width: 979px) {
    @content;
  }
}

@mixin meta-styles {
  color: $alt-copy-colour;
  font-style: italic;
  line-height: 1;
  white-space: nowrap;
}

/**
 * Global styles
 */

body {
  color: $copy-colour;
  font: 1em/1 $meta-font-family;
  -moz-font-feature-settings: "liga=1";
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;

  @include portrait {
    padding: 12px 0 0;
  }
}

::selection {
  background: $highlight3;
  color: white;
}

::-moz-selection {
  background: $highlight3;
  color: white;
}

a {
  @include link_colors($highlight2, $highlight3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

h2 {
  color: $heading-colour;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 12px;

  i.icon-tag {
    font-size: 0.75em;
    line-height: 1;
  }

  @include portrait {
    font-size: 1.75em;
    font-weight: normal;
    line-height: 1;
  }
}

h3 {
  border-bottom: 1px solid #ddd;
  color: $heading-colour;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1;
  margin: 48px 0 12px;

  @include portrait {
    border-bottom: 1px solid #ccc;
  }
}

h4 {
  color: $heading-colour;
	font-size: 1.25em;
	font-weight: 600;
	line-height: 1.25;
	margin: 36px 0 12px;

	h3 + & {
		margin-top: 0;
	}
}

h3 code,
h4 code {
  color: inherit;
  border: none;
  background: none;
  font-size: 0.875em;
  line-height: 1;
}

p,
ul {
  font-size: 1em;
  line-height: 1.375;
  margin: 0 0 24px;

  a {
    font-weight: normal;
  }

  code {
    color: $copy-colour;
    font-size: 0.875em;
    font-family: $code-font-family;
    line-height: 1.125;
    margin: 0 3px;
    padding: 1px 3px;
  }

  strong {
    color: $emphasis-colour;
    font-weight: 600;
  }
}

p + ul {
  margin: -16px 0 30px;
}

ul {
  padding-left: 24px;
}

li {
  font-size: 1em;
  line-height: 1.375;
  margin-bottom: 3px;
}

p + .highlight {
  margin: -16px 0 24px;
}

pre {
  font-family: $code-font-family;
  font-size: 0.875em;
  line-height: 1.375;
  margin: 0 0 24px;
}

i[class^="icon-"] {
  color: $highlight1;

  a {
    margin-left: 3px;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Layout
 */

#wrapper {
  padding: 24px 0;

  @include portrait {
    padding: 0;
  }
}

section#main-content {
  margin-bottom: 24px;

  h2 a {
    @include link-colors($heading-colour, $emphasis-colour);
    &:hover {
      text-decoration: none;
    }
  }

  article {
    p,
    ol,
    ul {
      font-family: $copy-font-family;
    }
  }

  .date {
    @include meta-styles;
    font-size: 0.875em;
    margin: 0 0 12px;
  }

  .back {
    margin: 36px 0 48px;

    a {
      font-style: italic;
    }
  }

  @include portrait {
    margin: 0 0 24px;
    padding: 0 20px;
  }
}

section#main-content ul.article-tags,
ul.article-tags {
  @include no-bullets;
  font-family: $meta-font-family;
  font-size: 0.875em;
  margin: 2px 0 0;
  padding-left: 0;
  float: right;

  li {
    display: inline;
  }

  i {
    color: $highlight4;
    font-size: 0.875em;
    line-height: 1;
  }

  a {
    margin-right: 8px;
  }

  @include narrow {
    text-align: left;
    float: none;

    li {
      display: inline-block;
    }
  }
}

section#main-content article.post ul.article-tags {
  margin-top: 12px;
}

aside#sidebar {
  padding-top: 7px;

  section {
    margin: 0 0 36px;

    a {
      margin-right: 3px;
    }

    .date,
    .meta {
      @include meta-styles;
      font-size: 0.75em;
    }
  }

  h2 {
    font-size: 1.75em;
    line-height: 1;
    margin: 0 0 24px;

    a {
      @include unstyled-link;
      @include link-colors($heading-colour);
      font-weight: 600;
    }

    @include narrow-landscape {
      font-size: 1.5em;
    }
  }

  h3 {
    font-size: 1.5em;
    line-height: 1;
    margin: 0 0 12px;
  }

  p {
    color: $alt-copy-colour;
    font-size: 0.875em;
    line-height: 1.25;
  }

  li {
    font-size: 1em;
    line-height: 1.125;
    margin: 0 0 16px;
  }

  .avatar {
    text-align: center;
    margin: 0 0 8px;

    img {
      max-width: 200px;

      @include narrow-landscape {
        max-width: 100%;
      }
    }
  }

  .tags {
    li {
      text-indent: -16px;
      margin: 0 0 8px;
      padding-left: 16px;

      * {
        text-indent: 0;
      }
    }

    i[class^="icon-"]:before {
      color: $highlight4;
      font-size: 0.75em;
      line-height: 1;
    }

    a {
      margin-right: 0;
    }
  }

  @include portrait {
    background: #eee;
    padding: 20px 20px 4px;
  }
}

.article-list {
  article {
    margin: 0 0 72px;
  }

  .page-links {
    color: $highlight1;
    margin-top: 26px;

    a {
      font-style: italic;
      margin-right: 12px;
    }
  }

  ul.article-tags {
    margin-top: 4px;

    @include narrow {
      display: none;
    }
  }
}

.gist .line_numbers,
.gist .line {
  line-height: 24px;
}

.gist .line {
  white-space: pre;
}

.pagination {
  font-style: italic;

  strong {
    font-weight: normal;
  }

  ol {
    @include inline-list;

    li {
      font-size: 1.125em;
      font-weight: normal;
      line-height: 1;

      &:after {
        content: ", ";
        margin-right: 3px;
      }

      &:last-child:after {
        content: "";
        margin-right: 0;
      }
    }
  }

  .curr {
    font-weight: 600;
    padding-left: 4px;
  }

  a {
    padding-left: 4px;
  }
}

footer#site-footer {
  color: #666;
  font-size: 0.875em;
  line-height: 1;
  text-align: center;

  @include portrait {
    background: #999;
    color: #eee;
    padding: 4px 20px;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Geneirc Styles
 */

.no-bullets {
  @include no-bullet;
}

ul.no-bullets {
  padding-left: 0;
}

.text-center {
  text-align: center;
}
