/**
 * Main Stylesheet
 */

@import "compass/typography/links";
@import "compass/typography/lists";

@mixin portrait {
  @media (max-width: 767px) {
    @content;
  }
}

body {
  color: #444;
  font: 1em/1 myriad-pro, sans-serif;
  -moz-font-feature-settings: "liga=1";
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;

  @include portrait {
    padding: 12px 0 0;
  }
}

a {
  @include link_colors(#006611, #118833);
}

h1 {
  color: #333;
  font-size: 2.5em;
  line-height: 1.25;
}

h2 {
  color: #333;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.25;
  margin: 0 0 12px;

  @include portrait {
    font-size: 2em;
    line-height: 1.25;
  }
}

h3 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 1.375em;
  font-weight: normal;
  line-height: 1;
  margin: 48px 0 12px;

  @include portrait {
    border-bottom: 1px solid #bbb;
  }
}

h4 {
	font-size: 1.125em;
	font-weight: 600;
	line-height: 1.25;
	margin: 36px 0 12px;

	h3 + & {
		margin-top: 0;
	}
}

h3 code,
h4 code {
  color: inherit;
  border: none;
  background: none;
  font-size: 0.875em;
  line-height: 1;
}

p,
ul {
  font-size: 1em;
  line-height: 1.375;
  font-weight: 300;
  margin: 0 0 20px;

  a {
    font-weight: normal;
  }

  code {
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.125;
    margin: 0 3px;
    padding: 1px 3px;
  }

  strong {
    font-weight: 600;
  }
}

ul {
  padding-left: 24px;
}

p code,
ul code {
  color: #333;
}

pre {
  margin: 0 0 20px;
}

i[class^=icon-] {
  position: relative;
  top: 2px;
}

/* -------------------------------------------------------------------------- */

/**
 * Layout
 */

#wrapper {
  padding: 24px 0;

  @include portrait {
    padding: 0;
  }
}

section#main-content {
  margin-bottom: 24px;

  h2 a {
    @include link-colors(#444);
  }

  @include portrait {
    margin: 0 0 24px;
    padding: 0 20px;
  }

  .date {
    color: #666;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1;
    margin: 0 0 12px;
  }
}

aside#sidebar {
  padding-top: 12px;

  section {
    margin: 0 0 36px;

    a {
      margin-right: 3px;
    }

    .date {
      color: #666;
      font-size: 0.75em;
      font-style: italic;
      line-height: 1;
    }
  }

  h2 {
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 24px;

    a {
      @include unstyled-link;
      @include link-colors(#444);
    }
  }

  h3 {
    margin: 0 0 12px;
  }

  li {
    font-size: 1em;
    line-height: 1.125;
    margin: 0 0 12px;
  }

  .tags li {
    margin: 0 0 6px;
  }

  @include portrait {
    background: #ddd;
    padding: 20px 20px 4px;

    .avatar {
      display: none;
    }
  }
}

.article-list {
  article {
    margin: 0 0 60px;
  }

  p {
    margin: 0 0 12px;
  }

  .page-links a {
    margin-right: 12px;
  }
}

.gist .line_numbers,
.gist .line {
  line-height: 24px;
}

.gist .line {
  white-space: pre;
}

#disqus_thread {
  margin: 48px 0 24px;
}

.pagination {
  strong {
    font-weight: 600;
  }

  ol {
    @include inline-list;

    li {
      font-size: 1.125em;
      font-weight: normal;
      line-height: 1;

      &:after {
        content: ", ";
        margin-right: 3px;
      }

      &:last-child:after {
        content: "";
        margin-right: 0;
      }
    }
  }

  .curr {
    font-weight: 600;
    padding-left: 4px;
  }

  a {
    padding-left: 4px;
  }
}

footer#site-footer {
  color: #666;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1;
  text-align: center;

  @include portrait {
    background: #888;
    color: #eee;
    font-weight: normal;
    padding: 4px 20px;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Geneirc Styles
 */

.no-bullets {
  @include no-bullet;
}

ul.no-bullets {
  padding-left: 0;
}

.text-center {
  text-align: center;
}
