---
title: Home
pageable: true
per_page: 10
hide_title: true
---
<div class="article-list">
  <% page_articles.each_with_index do |article, i| %>
    <article>
      <h2><%= link_to article.title, article %></h2>

      <div class="date">
        <span><%= article.date.strftime('%B %e, %Y') %></span>
      </div>

      <%= article.summary %>
    </article>
  <% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
